[user]
	email = git@reefmatson.com
	name = lmReef
[core]
	excludesFile = ~/.gitignore
[init]
	defaultBranch = main
[alias]
	co = checkout
	br = branch
	st = status
	a = add
	c = commit
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[push]
	autoSetupRemote = true
[pull]
	rebase = true
[merge]
	tool = nvimdiff
[mergetool "nvimdiff"]
    layout = LOCAL,REMOTE
[difftool]
	prompt = false
[mergetool]
	prompt = false
[includeIf "gitdir:~/projects/centrapay/**"]
	path = ~/.gitconfig-centrapay
